<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7e084c51-203f-4474-ae33-e41cf1f41c89/resourceGroups/OrderInvoiceSystem20250408093209ResourceGroup/providers/Microsoft.Web/sites/OrderInvoiceSystem</ResourceId>
    <IsLinux>True</IsLinux>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://orderinvoicesystem-f2gbb8abc7d5aefe.southafricanorth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>a760ec80-ebba-4aa7-934b-c74975fc9e34</ProjectGuid>
    <PublishUrl>https://orderinvoicesystem-f2gbb8abc7d5aefe.scm.southafricanorth-01.azurewebsites.net/</PublishUrl>
    <UserName>$OrderInvoiceSystem</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>